.App {
  text-align: center;
}

.base {
  min-height: 100vh;
}
.myNavbar {
  background-color: rgb(245, 240, 226);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 1.5vmin);
  color: rgb(66, 65, 65);
}

  .gallery-img {
    width: 300px;
    height: 300px
  }