
.base {
  min-height: 100vh;
}

.myNavbar {
  min-height: 10vh;
  display: flex;
  margin-bottom: 30px;
  font-size: calc(10px + 2vmin);
  color: #af3d46;
  font-weight: bold;
  }
  
.steps {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.steps>ol>li {
  font-size: 1.2em;
  padding: 8px;
}
.gallery-img {

  width: 300px;
  height: 300px
}

.download-btn {
  background-color: SlateBlue;
  color: white;
  padding: 1.5em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 2em;
  display: block;
  text-align: center;
  margin-left: auto;
}

.download-btn:hover {
  background-color: #555;
  text-decoration: none;
  text-transform: uppercase;
}

.submitting-block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.username {
  margin: 0;
  text-align: center;
  color: SlateBlue
}

.imagebox {
  width: 318px;
  margin-bottom: 15px;
  background:  rgb(241, 240, 255);
}

.mymodal {
  background: LavenderBlush;
  text-align: center
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}