/* .App {
  text-align: center;
} */

.base {
  min-height: 100vh;
}
.myNavbar {
  background-color: PaleTurquoise;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-size: calc(10px + 1.5vmin);
  color: rgb(66, 65, 65);
}

  .gallery-img {
    width: 300px;
    height: 300px
  }
  .download-btn {
    background-color: SlateBlue;
  color: white;
  padding: 1.5em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 2em;
  display:block;
  text-align: center;
  margin-left: auto;

  }
  .download-btn:hover {
  background-color: #555;
  text-decoration: none;
  text-transform: uppercase;
}

.submitting-block {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  height: 100%;
}
.username {
  margin: 0;
  text-align: center;
  color: SlateBlue
}
.imagebox {
  width: 300px;
  margin: 8px
}
.mymodal {
  background: LavenderBlush;
  text-align: center
}